<p>/dump : db session rollback, if db error happens go to this!  </p>
<p>/login : show the logged in user  </p>
<p>/show_all_user : show all user DB  </p>
<p>/show_all_edit : show all edit DB  </p>
<p>/show_one_user : show one user by user_id  </p>
<p>/show_one_image : show one original image by org_id(only detail) </p>
<p>/show_one_edit : show one edited image by edit_id(only detail) </p>
<p>/display_image : display original image by org_id  </p>
<p>/test_register : register one user by username, email, password and show all list of user DB  </p>
<p>/test_unregister : unregister one user by user_id  </p>
<p>/save_edited_image : save one edited image, edited by user of user_id</p>
<p>/delete_edited_image : delete edited image by edit_id</p>
