{% extends "layout.html" %}
{% from "/includes/_formhelpers.html" import render_field %}

{% block body %}
<div class="container bg-light position-relative">
  <div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <h2 class="h3 mb-3 font-weight-normal"> Verify yourself and start your edits! </h2>
  </div>
  <form method="GET", action="/signin">
    <dl>
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
    </dl>
    <p><input type="submit" value="Submit">
  </form>
</div>

{% endblock %}
