@import 'styles/utils.scss';
.fragment{
    width: 100vw;
    height: calc(100vh - 7rem);
    align-content: center
}
.instructions{
    position: relative;
    top: 5rem;
    left: 10rem;
    align-content: center;
    width: 70vw;
    height: auto;
    font-size:36px;
}

.sketch-frame{
    position:relative;
    width: 70vw;
    height:300px;
    align-content: center;
    
}
.sketch-box {
    border: '5px solid black';
    position: relative;
    float: left;
    left: 10rem;
    width: 70vw;
    height: 300px;
    top: 7.5rem;
    overflow: auto;
    align-content: center;
    align-items: center;

}
.sketch-field{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.buttons {
    position: absolute;
    top: 50rem;
    left:30vw;
    width:30vw;



    .reset-button{
        position:relative;
        width:4vw;
    }

    .x05-button {
        position: relative;
        width:4vw;
    }
    .x1-button{
        position: relative;
        width:4vw;
    }
    .x2-button{
        position: relative;
        width:4vw;
    }
    .x4-button{
        position: relative;
        width:4vw;
    }

    .submit-button{
        position:relative;
        width:10vw;

    }
}

